# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_FILENAME_MODEL=gpt-4.1-mini

# Azure Document Intelligence
AZURE_DOCINTEL_ENDPOINT=
AZURE_DOCINTEL_KEY=

# Google Cloud Vision / Document AI
# Path to service account credentials JSON file
GOOGLE_APPLICATION_CREDENTIALS=./my-google-service-account.json
